* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'El Messiri', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #3B3C51;
    color: #4F89D3;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(images/Desktop\ -\ 2.png);
    background-size: cover;
    background-position: center;
    /* border-bottom: 5px solid #4F89D3; */
}
    
.wrapper {
    padding: 10px 10%;
   
}

.logo {
    font-size: 2rem;
    text-shadow: 5px 5px 5px #000;
}

.logo span {
    color: #AAAAAA;
    font-size: 5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
    position: relative;
}

li, a {
    list-style: none;
    text-decoration: none;
    color: #4F89D3;
    font-size: 1.3rem;
    text-shadow: 5px 5px 5px #000;
}

li a:hover {
    font-size: 1.5rem;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #AAAAAA;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
    cursor: pointer;
    text-shadow: 5px 5px 5px #000;
}

.header-text {
    margin-top: 12rem;
    font-size: 2rem;
    text-shadow: 5px 5px 5px #000;
}

.header-text h1 {
    color: #AAAAAA;
}

.header-text h1,
.header-text p {
    transition: transform 0.5s;
}

.header-text h1:hover,
.header-text p:hover {
    transform: translateY(-20px);
    cursor: pointer;
}

#icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 21rem;
    left: 3rem;
}

.icon {
    width: 34px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.icon:hover{
    width: 45px;
    cursor: pointer;
}

.line {
    width: 286px;
    padding: 2px;
    background-color: #4F89D3;
    transform: rotate(90deg);
    margin-left: -128px;
    margin-top: 124px;
}

/* ----------------About Section Styling----------------- */
#about {
    padding: 5rem 0rem;
    text-shadow: 5px 5px 5px #000;
}

.border {
    border: 5px solid #4F89D3;
    border-radius: 50%;
    padding: 0px 20px;
    background-color: #AAAAAA;
    width: 90%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_left {
    /* this means the width of the col will not be more than 35% */
    flex-basis: 35%;
    
}

.about_right {
     /* this means the width of the col will not be more than 60% and 
     the 5% will create the space btw the 2 col.  */
     flex-basis: 60%;
} 

.about_right p {
    color: #AAAAAA;
    font-size: 1.2rem;
    font-weight: 500;
}

.text_title {
    font-size: 3.5rem;
    font-weight: 700;
}

.about_titles {
    display: flex;
    margin: 20px 0 40px;
}

.about_links {
    margin-right: 3.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #AAAAAA;
}

.about_links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #4F89D3;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.about_links.active_link::after {
    width: 50%;
}

.about_content ul li {
    color: #AAAAAA;
    margin: 10px 0;
    list-style: none;
}

.about_content ul li span {
    color: #4F89D3;
    font-size: 16px;
    display: block;
}

.about_content {
    display: none;
}

.about_content.active_tab {
    display: block;
}

nav .fa-solid {
    display: none;
}


/*-------------------Portfolio Section--------------------------------*/
#portfolio {
    padding: 50px 0;
}

.project_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project {
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.project img {
    width: 80%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}

.project:hover img {
    transform: scale(1.1);
}

.link_layer {
    width: 84%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #4F89D3);
    /* border-radius: 5px; */
    /* border-bottom-right-radius: 6px; */
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.project:hover .link_layer {
    height: 100%;
}

.link_layer h3 {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.link_layer a {
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    text-shadow: none;
}

.btn {
    display: block;
    margin: 40px auto;
    border: 2px solid #4F89D3;
    color: #AAAAAA;
    width: fit-content;
    padding: 12px 40px;
    border-radius: 15px;
    transition: background 0.5s;
}

.btn:hover,
.btn:focus {
    background: linear-gradient(rgba(0,0,0,0.6), #4F89D3);
    cursor: pointer;
    color: #fff;
}

/* ---------------Contact Styling------------------ */
.contact_left {
    flex-basis: 35%;
}

.contact_right {
    flex-basis: 60%;
}

.contact_left p {
    margin-top: 30px;
}

.contact_left p i {
    margin-right: 15px;
}

.contact_left .icons a i {
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
    transition: transform 0.5s;
    font-size: 20px;
}

.contact_left .icons a i:hover,
.contact_left .icons a i:focus {
    color: #AAAAAA;
    cursor: pointer;
    transform: translateY(-5px);
}

.btn.cv-btn {
    display: inline-block;
    margin-left: 0;
    background: linear-gradient(rgba(0,0,0,0.5), #4F89D3);
    font-weight: 700;
}

.contact_right form {
    width: 100%;
}

form input, 
form textarea {
    width: 100%;
    border: none;
    outline: none;
    background-color: hsla(214deg, 60%, 57%, 10%);
    padding: 12px;
    margin: 15px 0;
    color: #AAAAAA;
    font-size: 18px;
    border-radius: 6px;
}

form .cv-btn {
    padding: 12px 60px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
}

footer {
    background-color: hsla(214deg, 60%, 57%, 10%);
    padding: 10px;
}

footer p {
    text-align: center;
}

/*--------------------------Media query scetion-----------------------------------------*/
@media only screen and (max-width: 600px) {
    header {
        background-image: url(images/mobile-bg4.png);
        background-position: center;
        background-size: cover;
    } 
    
    .header-text {
        margin-top: 14em;
        font-size: 1.5em;
        font-weight: 900;
    }

    .header-text h1 {
        font-size: 1.5rem;
        margin-left: 51px;
    }

    .header-text p {
        margin-left: 37px;
        text-align: center;
    }

    #icons {
        position: absolute;
        left: 0.5rem;
        top: 17rem;
    }

    .line {
        display: none;
    }

    br {
        display: none;
    }

    nav .fa-solid {
        display: block;
        font-size: 1.8rem;
    }

    nav ul {
        background-color: #4F89D3;
        position: fixed;
        top: 0;
        right: -200px; /*bcos the width is 200 and will need it to be less visible on the open icon is clicked*/
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        color: #AAAAAA;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul li a {
        color: #AAAAAA;
        font-weight: 700;
        /* text-shadow: none; */
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    nav ul li a::after {
        background: none;
        
    }

    .logo, .logo span {
        margin-bottom: 1rem;
    }

    /*--------------About Section------------------ */

    .text_title {
        font-size: 2rem;
    }

    .about_left, .about_right {
        flex-basis: 100%;
    }

    .border {
        border-radius: 20px;
    }

    .about_left {
        margin-bottom: 25px;
        text-align: center;
    }

    .about_right {
        font-size: 14px;
    }

    .about_links {
        font-size: 16px;
        margin-right: 20px;
    }


    /* ------------projects------------ */
    .project_list {
        margin-left: 50px;
    }

    #portfolio .wrapper .text_title {
        text-align: center;
    }

    /* ---------------contact--------------- */
    .contact_left,
    .contact_right {
        flex-basis: 100%;
    }

    .contact_left .text_title {
        text-align: center;
    }

    form .btn.cv-btn {
        text-align: center;
    }
}